<!--The content below is only a placeholder and can be replaced.-->


<button (click)="getAll()">GET</button>

<div class="abc">
  <li>
    Kurs
  </li>
  <li>
      Giełda
    </li>
    <li>
        Rynek
      </li>
  </div>
<div class="abc">
    <table class="table table-hover">
        <tr>
           <th>
               Waluta
             </th>
             <th>
               Kurs
             </th>
        </tr>
         <tr *ngFor="let p of posts$">
           <td>
               {{p.asset_id_quote}}
           </td>
           <td>
               {{p.rate}}
           </td>
         </tr>
       </table>
</div>






